.vertical-line-1 {
    height: 36.3rem;
    border-left: 4px black solid;
    position: absolute;
    left: 12.3rem;

}

.vertical-line-2 {
    height: 36.3rem;
    border-left: 4px black solid;
    position: absolute;
    left: 24.3rem;
}

.horizontal-line-1 {
    width: 36.3rem;
    border-top: 4px black solid;
    position: absolute;
    top: 12.2rem;
}

.horizontal-line-2 {
    width: 36.3rem;
    border-top: 4px black solid;
    position: absolute;
    top: 24.2rem;
}