.vertical-line-1 {
    height: 100%;
    border-left: 0.3rem rgb(33, 37, 41) solid;
    position: absolute;
    left: 33.3%;

}

.vertical-line-2 {
    height: 100%;
    border-left: 0.3rem rgb(33, 37, 41) solid;
    position: absolute;
    left: 66.7%;
}

.horizontal-line-1 {
    width: 100%;
    border-top: 0.3rem rgb(33, 37, 41) solid;
    position: absolute;
    top: 33.3%;
}

.horizontal-line-2 {
    width: 100%;
    border-top: 0.3rem rgb(33, 37, 41) solid;
    position: absolute;
    top: 66.6%;
}