.vertical-line-1 {
    height: 36.6rem;
    border-left: 4px black solid;
    position: absolute;
    left: 12.8rem;

}

.vertical-line-2 {
    height: 36.3rem;
    border-left: 4px black solid;
    position: absolute;
    left: 24.8rem;
}

.horizontal-line-1 {
    width: 36.3rem;
    border-top: 4px black solid;
    position: absolute;
    top: 12rem;
}

.horizontal-line-2 {
    width: 36.3rem;
    border-top: 4px black solid;
    position: absolute;
    top: 24rem;
}