input {
    width: 4rem;
    height: 4rem;
    border: solid;
    border-width: 1px;
    border-color: black;
    font-size: 24px;
    text-align: center;
    padding: 0;
    caret-color: transparent;
    cursor: pointer;
}

input:enabled:hover {
    background-color: rgb(210, 240, 250);

}

input:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.active {
    background-color: rgb(210, 240, 250);
}

.invalid {
    background-color: rgb(250, 210, 210);
}

input:disabled {
    cursor: default;
    color: black;
}

input::placeholder {
    color: black;
}