.cell {
    width: 55px;
    height: 55px;
    border: solid;
    border-width: 1px;
    border-color: black;
    font-size: 24px;
    text-align: center;
}

.preset {
    font-weight: bold;
    line-height: 53px;
    cursor: default;
}

form {
    width: 53px;
    height: 53px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
}

input {
    width: 53px;
    height: 53px;
    border-style: none;
    text-align: center;
    padding: 0;
    caret-color: transparent;
    cursor: pointer;
}

input:hover, .active {
    background-color: rgb(210, 240, 250);
}
